<h1>関数これくしょん</h1>
<p>関娘をドックに集めましょう</p>

<p>
<%= link_to '新規メソッド追加', new_function_path %>
<%= link_to '検索', functions_search_path %>
</p>

<table border="1">
<thead>
	<tr>
		<th>ID</th>
		<th>言語</th>
		<th>メソッド名</th>
		<th>タグ</th>	
		<th>更新時間</th>
	</tr>
</thead>
<%= paginate @function %>
<% @function.each do |index| %>
	<tbody>
	<tr>
		<td><%= index.id %></td>
		<td><%= index.languages %></td>
 		<td><%= link_to index.names, function_path(index.id) %></td> 
 		<td><%= index.tags%></td>
		<td><%= index.updated_at.strftime("%m月%d日 %H時%M分") %></td>
	</tr>
	</tbody>
<% end %>
</table>

<p>
<% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'メールアドレスの変更', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "ログイン", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>