<h1>検索</h1>

<%= search_form_for @search ,:url => {:action => 'search'} do |f| %>
<div class="field">
	<p>	
	<%= f.label :languages, "言語:" %>
	<%= f.radio_button :languages_eq, "" %>
	<%= f.label :languages_eq, "ALL" %>
	<%= f.radio_button :languages_eq, "C" %>
	<%= f.label :languages_eq, "C" %>
	<%= f.radio_button :languages_eq, "C++" %>
	<%= f.label :languages_eq, "C++" %>
	<%= f.radio_button :languages_eq, "C#" %>
	<%= f.label :languages_eq, "C#" %>
	<%= f.radio_button :languages_eq, "Java" %>
	<%= f.label :languages_eq, "Java" %>
	<%= f.radio_button :languages_eq, "PHP" %>
	<%= f.label :languages_eq, "PHP" %>
	<%= f.radio_button :languages_eq, "Ruby" %>
	<%= f.label :languages_eq, "Ruby" %>
	<%= f.radio_button :languages_eq, "Phython" %>
	<%= f.label :languages_eq, "Phython" %>
	</p>
</div>
<div class="field">
	<%= f.label :names_cont, "メソッド名" %>
	<%= f.text_field :names_cont %>
</div>
<div class="field">
	<%= f.label :descriptions_cont, "説明文" %>
	<%= f.text_area :descriptions_cont %>
</div>
<div class="field">
	<%= f.label :tags_cont, "タグ" %>
	<%= f.text_field :tags_cont %>
</div>

<div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table border="1">
	<thead>
		<tr>
			<th><%= sort_link(@search, :languages, "言語") %></th>
			<th><%= sort_link(@search, :names, "名前") %></th>
			<th><%= sort_link(@search, :updated_at, "更新時間") %></th>
		</tr>
	</thead>
	<%= paginate @result %>
	<% @result.each do |index| %>
	<tbody>
		<tr>
			<td><%= index.languages %></td>
			<td><%= index.names %></td>
			<td><%= index.updated_at.strftime("%m月%d日 %H時%M分") %></td>
		</tr>
	</tbody>
	<% end %>
</table>
