<table border="1">
<thead>
	<tr>
		<th>ID</th>
		<th>言語</th>
		<th>メソッド名</th>
		<th>タグ</th>
		<th>引数</th>
		<th>戻り値</th>	
		<th>更新時間</th>
		<th>説明</th>
		<th>内容</th>
		<th>メールアドレス</th>
	</tr>
</thead>
	<tbody>
	<tr>
		<td><%= @function.id %></td>
		<td><%= @function.languages %></td>
 		<td><%= @function.names %></td> 
 		<td><%= @function.tags %></td>
 		<td><%= @function.arguments %></td>
 		<td><%= @function.return_values %></td>
		<td><%= @function.updated_at.strftime("%m月%d日 %H時%M分") %></td>
		<td><%= @function.descriptions %></td>
		<td><%= simple_format(@function.data) %></td>
		<td><%= @function.emails %></td>
	</tr>
	</tbody>
</table>

<%= link_to "編集", edit_function_path(@function.id) %>
<%= link_to "削除", function_path(@function.id), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>